* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgba(241, 238, 17, 0.849);
}

.form{
    width: 500px;
    height: 600px;
    border: 10px solid white;
    margin: 0 auto;
    position: relative;
    top: 10%;
    margin-top: 35px;
    background-color: orange;
}

.form_text{
    background-color: orange;
    text-align: center;
    margin-top: 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    font-weight: bolder;
}

.box{
    display: block;
    position: absolute;
    top: 20%;
    left: 45.5%;
    outline: none;
    border:none;
    padding: 12px;
}


.check-btn{
    width: 80px;
    height: 40px;
    font-size: 15px;
    outline:none;
    border:none;
    position: absolute;
    left: 30%;
    top: 80%;
}

.submit-btn{
    width: 80px;
    height: 40px;
    font-size: 15px;
    outline:none;
    border:none;
    position: absolute;
    left: 50%;
    top: 80%;
}


.text{
    display: block;
    position: relative;
    top: 29.5%;
    left: 20.5%;
    background-color: orange ;
    font-family: 'Roboto', sans-serif;
}

.text_id{
    display: block;
    position: absolute;
    top: 30.5%;
    left: 35.5%;
    background-color: orange ;
}

.text_email{
    display: block;
    position: absolute;
    top: 40.5%;
    left: 28.5%;
    background-color: orange ;
}

.text_pass{
    display: block;
    position: absolute;
    top: 50.5%;
    left: 25%;
    background-color: orange ;
}

.text_no{
    display: block;
    position: absolute;
    top: 60.5%;
    left: 15.5%;
    background-color: orange ;
}

.id{
    position:absolute;
    top: 30%;
    outline: none;
    height: 30px;
}

.email{
    position:absolute;
    top: 40%;
    height: 30px;
}

.password{
    position:absolute;
    top: 50%;
    height: 30px;
}

.number{
    position:absolute;
    top: 60%;
    height: 30px;
}